<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{$cf.name}--关于我们</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
<meta name="description" content="{$cf.des}">
<meta name="keywords" content="{$cf.key}">
<link href="" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/style.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/about.css">
</head>
<body>
    <div class="header">
		<div class="logo">
			<img src="{$Think.config.u}/static/mobile/images/logo.png">
		</div>
		<div class="meun">
			<div class="meun-t">菜单</div>
			<div class="meun-i" id="meun">
				<img src="{$Think.config.u}/static/mobile/images/meun.png">
			</div>
		</div>
	</div>
	<div class="banner" id="banner">
		<ul>
			<li><a href="{:url('index')}">首页</a></li>
			<li><a href="{:url('yard')}">场地分布</a></li>
			<li><a href="{:url('applynotce')}">学车须知</a></li>
			<li><a href="{:url('aboutme')}"  class="current1">关于我们</a></li>
		</ul>
	</div>
	<div class="gw">
		<div class="gw-t">关于我们</div>
		<div style="width: 100%;height: 44px"></div>
		<div class="gwc">
			<p> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp叮叮驾考创办于2015年5月，属于四川省人民政府、团委、人社厅、教育厅成立的四川省双创中心孵化企业，是一所专注大学生的直营连锁驾校，既有线上软件预约报名、微博微信等自媒体服务，也有一套完整且专业的线下驾校培训体系</p>
            <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp作为全省大学生创业代表项目，被列为四川省双创中心10佳孵化企业，获得成都壹柒玖捌基金75万人民币和华莱士股东100万人民币天使投资</p>
            <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp目前服务大学生学员超过5000人，覆盖30余所高校，以“拯救大学生学车不开心”为理念做一所大学生专属的互联网直营驾校，已成为部分高校学生学车首选品牌之一</p>
		</div>
		<div style="width: 100%;height: 50px;"></div>
		<div class="ti">
				<div class="ti-i"><img src="{$Think.config.u}/static/mobile/images/ti-l.png"></div>
				<div class="ti-t" style="font-weight: bold;">公司使命</div>
				<div class="ti-i"><img src="{$Think.config.u}/static/mobile/images/ti-r.png"></div>
		</div>
		<div class="sm">
			<p>为大学生利益而努力创新</p>
		</div>
		<div style="width: 100%;height: 50px;"></div>
		<div class="ti">
				<div class="ti-i"><img src="{$Think.config.u}/static/mobile/images/ti-l.png"></div>
				<div class="ti-t" style="font-weight: bold;">公司愿景</div>
				<div class="ti-i"><img src="{$Think.config.u}/static/mobile/images/ti-r.png"></div>
		</div>
		<div class="sm">
			<p>做中国最具口碑的连锁驾校品牌</p>
			<p>做一个普惠大学生的品牌</p>
		</div>
		<div style="width: 100%;height: 50px;"></div>
		<div class="ti">
				<div class="ti-i"><img src="{$Think.config.u}/static/mobile/images/ti-l.png"></div>
				<div class="ti-t" style="font-weight: bold;">创业历程</div>
				<div class="ti-i"><img src="{$Think.config.u}/static/mobile/images/ti-r.png"></div>
		</div>
		<div class="cl">
			<div class="cll">
			    <div class="cl-l">1</div>
			    <div class="cl-l">2</div>
			    <div class="cl-l">3</div>
			    <div class="cl-l">4</div>
			    <div class="cl-l">5</div>
			    <div class="cl-l">6</div>
			    <div class="cl-l">7</div>
			    <div class="cl-l">8</div>
		      	<div class="cl-l">9</div>
			    <div class="cl-l">10</div>
			    <div class="cl-l">11</div>
			    <div class="cl-l">12</div>
		    </div>
		    <div class="cls"></div>
		    <div class="clr">
		    	<div class="cl-r">
                    <p style="font-weight: bold;">2015年5月</p>
                    <p>PC 端（ddjiakao.com）上线</p>
		    	</div>
		    	<div class="cl-r">
                    <p style="font-weight: bold;">2015年11月</p>
                    <p>获得50万元种子轮融资</p>
		    	</div>
		    	<div class="cl-r">
                    <p style="font-weight: bold;">2015年12月</p>
                    <p>成立四川首家直营互联网驾校</p>
		    	</div>
		    	<div class="cl-r">
                    <p style="font-weight: bold;">2016年3月</p>
                    <p>获眉山电视台等媒体报道</p>
		    	</div>
		    	<div class="cl-r">
                    <p style="font-weight: bold;">2016年4月</p>
                    <p>学员数量突破1000人</p>
		    	</div>
		    	<div class="cl-r">
                    <p style="font-weight: bold;">2016年12月</p>
                    <p>获华莱士股东的天使轮100万元</p>
		    	</div>
		    	<div class="cl-r">
                    <p style="font-weight: bold;">2017年3月</p>
                    <p>入驻省大学生双创中心</p>
		    	</div>
		    	<div class="cl-r">
                    <p style="font-weight: bold;">2017年5月</p>
                    <p>获成都 1798 基金天使投资，估值1500万元</p>
		    	</div>
		    	<div class="cl-r">
                    <p style="font-weight: bold;">2017年8月</p>
                    <p>上线小程序“叮叮驾考+”</p>
		    	</div>
		    	<div class="cl-r">
                    <p style="font-weight: bold;">2017年9月</p>
                    <p>覆盖高校达到30所</p>
		    	</div>
		    	<div class="cl-r">
                    <p style="font-weight: bold;">2017年10月</p>
                    <p>累计学员数量超过5000人</p>
		    	</div>
		    	<div class="cl-r">
                    <p style="font-weight: bold;">2017年10月</p>
                    <p>获得四川电视台新闻联播报道</p>
		    	</div>
		    </div>
		</div>
	</div>
	<div class="ld">
		<div class="ld-t">领导考察</div>
		<div style="width: 100%;height: 50px;"></div>
		<div class="ldm-c">
			<div class="ldm-i"><img src="{$Think.config.u}/static/home/images/ld1.jpg"></div>
			<div class="ldm-t">2015年时任眉山市委常委、常务副市长（右一）访谈叮叮创始人</div>
		</div>
		<div class="ldm-c">
			<div class="ldm-i"><img src="{$Think.config.u}/static/home/images/ld2.jpg"></div>
			<div class="ldm-t">2015年叮叮驾考创立之初接受时任眉山市政协副主席指导</div>
		</div>
		<div class="ldm-c">
			<div class="ldm-i"><img src="{$Think.config.u}/static/home/images/ld3.jpg"></div>
			<div class="ldm-t">区政府副区长、区科技局局长、区就业局局长等领导
为叮叮驾考投资签约仪式站台</div>
		</div>
	</div>
	<div class="jr">
		<div class="ld-t">加入我们</div>
		<div style="width: 100%;height: 50px;"></div>
	<div class="jr-c">
		<div class="jr-i" id="jr1"><img src="{$Think.config.u}/static/mobile/images/jw-l.png"></div>
		<div class="ji">
				<div class="ti-i"><img src="{$Think.config.u}/static/mobile/images/ti-l.png"></div>
				<div class="ti-t" style="font-weight: bold;">资深文案策划</div>
				<div class="ti-i"><img src="{$Think.config.u}/static/mobile/images/ti-r.png"></div>
		</div>
	</div>
	<div class="jt-t" id="jt1">
			<p style="font-weight: bold;">工作职责：</p>
			<p>1.结合营销推广计划，深度挖掘产品亮点，撰写产品广告、创意文案</p>
			<p>2.负责公司的新媒体文案、物料文案、新闻稿件及各种品牌软文的撰写</p>
			<p>3.负责策划线上、线下品牌运营活动文案，如H5文案、视频脚本等</p>
			<p style="font-weight: bold;">岗位要求：</p>
			<p>1.具有两年以上文案策划相关工作经验</p>
			<p>2.熟悉大学校园情况，思维年轻化，想法能与当代大学生需求融合</p>
			<p>3.具备优秀的文案功底，创造性思维能力、创意概念及良好的沟通能力</p>
			<p>4.具有敏锐的市场洞察力，具备较强的项目策划和活动执行能力</p>
			<p>3.具备优秀的文案功底，创造性思维能力、创意概念及良好的沟通能力</p>
			<p style="font-weight: bold;">工作待遇：</p>
			<p>月薪：6-8k，有良好提升空间</p>
			<p>公司地址：成都市金牛区九里堤环交大创业谷4楼410室</p>
			<p>简历及作品地址：xiaopeng@ddjiakao.com</p>
	</div>
	<div class="jr-c">
		<div class="jr-i" id="jr2"><img src="{$Think.config.u}/static/mobile/images/jw-l.png"></div>
		<div class="ji">
				<div class="ti-i"><img src="{$Think.config.u}/static/mobile/images/ti-l.png"></div>
				<div class="ti-t" style="font-weight: bold;">校园加盟商</div>
				<div class="ti-i"><img src="{$Think.config.u}/static/mobile/images/ti-r.png"></div>
		</div>
	</div>
	<div class="jt-t" id="jt2">
		<p>叮叮驾考是专注大学生的连锁校园驾校，有近30个高校加盟团队，采取总部和校园加盟商合资成立自营驾校的模式，由总部负责硬件投资、品牌宣传、运营解决方案...加盟商负责市场、售后、品牌维护等，最终经营利润80%加盟商所得，加盟我们可以获得：</p>
			<p style="font-weight: bold;">1. 赚钱，月入上万</p>
			<p>经营得最好的加盟商，单月利润7万多（可实地考察）</p>
			<p style="font-weight: bold;">2. 创业代替就业</p>
			<p>为自己打工，给最有朝气的年纪一个机会</p>
			<p style="font-weight: bold;">3. 资源变现</p>
			<p>待了几年的大学，学生人脉、组织关系、地方商圈等资源丰富，你有的优势是我们没有的，何不合作共赢？</p>
			<p style="font-weight: bold;">4. 总部指导</p>
			<p>总部5年校园驾校经营经验，手把手教你组建校园团队、地推网推、品牌活动策划、学员服务指导，教你公司化经营，再配合你的本土化优势，何惧市场竞争？</p>
			<p style="font-weight: bold;">5. 个人提升</p>
			<p>除了你，还有数十个高校总经理也在经营叮叮驾考，每月大会共商经营策略，提升自我能力，扩展人脉
有意直接联系：18228164709  微信同号</p>
	</div>
	<div class="jr-c">
		<div class="jr-i" id="jr3"><img src="{$Think.config.u}/static/mobile/images/jw-l.png"></div>
		<div class="ji">
				<div class="ti-i"><img src="{$Think.config.u}/static/mobile/images/ti-l.png"></div>
				<div class="ti-t" style="font-weight: bold;">驾校教练</div>
				<div class="ti-i"><img src="{$Think.config.u}/static/mobile/images/ti-r.png"></div>
		</div>
	</div>
	<div class="jt-t" id="jt3">
			<p>1.具有5年以上驾龄</p>
			<p>2.无不良嗜好，品行端正</p>
			<p>3.想从事驾校行业，具有服务意识，如做过专车司机</p>
			<p>待遇面谈，新手需进行为期1-2个月培训</p>
			<p>联系：18684028390</p>
	</div>
	</div>
	<div class="afo">
		<p>工作时间：周一至周六      9:00-18:00</p>
		<p>公司电话：400-188-3382</p>
		<p style="margin-top: 20px;">成都叮叮驾到科技有限公司</p>
		<p>四川省成都市金牛区九里堤创新大厦4楼410室</p>
	</div>
</body>
<script src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript">
	$('#meun').click(function() {
		$('#banner').toggle(1000);
		if($(this).find('img').attr('src')=='{$Think.config.u}/static/mobile/images/meun.png'){  
            $(this).find('img').attr('src','{$Think.config.u}/static/mobile/images/meun-x.png');  
        }else{  
            $(this).find('img').attr('src','{$Think.config.u}/static/mobile/images/meun.png');  
        }  
	});
	$('#jr1').click(function() {
		$('#jt1').toggle();
		if($(this).find('img').attr('src')=='{$Think.config.u}/static/mobile/images/jr-b.png'){  
            $(this).find('img').attr('src','{$Think.config.u}/static/mobile/images/jw-l.png');  
        }else{  
            $(this).find('img').attr('src','{$Think.config.u}/static/mobile/images/jr-b.png');  
        }  
	});
	$('#jr2').click(function() {
		$('#jt2').toggle();
		if($(this).find('img').attr('src')=='{$Think.config.u}/static/mobile/images/jr-b.png'){  
            $(this).find('img').attr('src','{$Think.config.u}/static/mobile/images/jw-l.png');  
        }else{  
            $(this).find('img').attr('src','{$Think.config.u}/static/mobile/images/jr-b.png');  
        }  
	});
	$('#jr3').click(function() {
		$('#jt3').toggle();
		if($(this).find('img').attr('src')=='{$Think.config.u}/static/mobile/images/jr-b.png'){  
            $(this).find('img').attr('src','{$Think.config.u}/static/mobile/images/jw-l.png');  
        }else{  
            $(this).find('img').attr('src','{$Think.config.u}/static/mobile/images/jr-b.png');  
        }  
	});
</script>
</html>