<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/index.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/base.css">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/version.css">
    <title>叮叮驾校</title>
</head>
<body>
<div class="header">
    <div class="logo"></div>
    <div class="nav">
        <ul>
            <li><a href="{:url('index')}">首页</a></li>
            <li><a href="{:url('yard')}">场地分布</a></li>
            <li><a href="{:url('applynotice')}"> 报名须知</a></li>
            <li class="current"><a href="{:url('aboutme')}">关于我们</a></li>
            <li><a href="{:url('joinme')}">加入我们</a></li>
        </ul>
    </div>
    <div class="rj"></div>
    <div class="phone">400-188-3382</div>
</div>
<div class="head_des">
    <!--关于我们-->
    <div class="baoxz">
        <div class="auto">
            <div style="height: 100px;width: 100%"></div>
            <div class="gj_z">
                <div class="gj_l"><img src="/cner/dc/driver/public/static/home/images/gl.png"></div>
                <div class="gj_h">关于我们</div>
                <div class="gj_r"><img src="/cner/dc/driver/public/static/home/images/gr.png"></div>
            </div>
            <div class="co-text ct">
                {$am.content}
            </div>
        </div>
    </div>
    <!--媒体报道-->
    <div class="auto">
        <div class="gj_z">
            <div class="gj_l"><img src="/cner/dc/driver/public/static/home/images/gl.png"></div>
            <div class="gj_h">媒体报道</div>
            <div class="gj_r"><img src="/cner/dc/driver/public/static/home/images/gr.png"></div>
        </div>
        <div style="height: 50px;width: 100%"></div>
        <div class="pjd">
            {volist name="ms" id="m"}
            <div class="pj_dd">
                <div class="pj_dt">
                    <a href="{$m.url}" target="_blank"><img src="{$m.img_s}"  onmouseover='src="{$m.img_h}"' onmouseout='src="{$m.img_s}"'></a>
                </div>
            </div>
            {/volist}
        </div>
    </div>
    <div style="clear: both;"></div>
    <div style="width: 100%;height: 50px"></div>
    <!--领导视察-->
    <div class="baoxz">
        <div class="auto">
            <div class="gj_z">
                <div class="gj_l"><img src="/cner/dc/driver/public/static/home/images/gl.png"></div>
                <div class="gj_h">领导视察</div>
                <div class="gj_r"><img src="/cner/dc/driver/public/static/home/images/gr.png"></div>
            </div>
            <div style="clear: both"></div>
            <div class="co-text ct" style="height: 1223px">
                <div class="ldl">
                    {volist name="ll" id="l"}
                    <div class="ldl_i"><img src="{$l.img}"></div>
                    <div class="ldl_t">{$l.des}}</div>
                    {/volist}
                </div>
                <div class="ldr">
                    {volist name="lr" id="ls"}
                    <div class="ldr_i"><img src="{$ls.img}"></div>
                    <div style="clear: both"></div>
                    <div class="ldr_t">{$l.des}}</div>
                    {/volist}
                </div>
            </div>
        </div>
    </div>
</div>
<div style="clear: both;"></div>
<div class="footer">
    <div class="foi">
        <div class="foi_t">输入手机号，立即免费试学</div>
        <div class="foi_k">
            <div class="fl"><input name="" type="text" placeholder="输入手机号，立即免费试学"><button type="button" id="" name="">立即咨询</button></div>
        </div>
    </div>
    <div class="fa">
        <div class="cbLink">
            <ul class="clearfix">
                <li>
                    <p class="ti">报名须知</p>
                    <div class="ci">
                        <p><a href="">报名条件</a></p>
                        <p><a href="">学车流程</a></p>
                        <p><a href="">常见问题</a></p>
                    </div>
                </li>
                <li>
                    <p class="ti">关于我们</p>
                    <div class="ci">
                        <p><a href="">我们是谁</a></p>
                        <p><a href="">媒体报道</a></p>
                        <p><a href="">领导考察</a></p>
                    </div>
                </li>
                <li>
                    <p class="ti">加入我们</p>
                    <div class="ci">
                        <p><a href="">招聘动态</a></p>
                    </div>
                </li>
                <li style="text-align: right">
                    <img src="/cner/dc/driver/public/static/home/images/gzh.png">
                </li>
                <li style="text-align: right">
                    <img src="/cner/dc/driver/public/static/home/images/wx.png">
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>