<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="keywords" content="{$cf.key}">
    <meta name="description" content="{$cf.des}" />
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/index.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/base.css">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/version.css">
    <title>{$cf.name}--关于我们</title>
</head>
<body>
<div class="header">
    <div class="logo"></div>
    <div class="nav">
        <ul>
            <li><a href="{:url('index')}">首页</a></li>
            <li><a href="{:url('yard')}">场地分布</a></li>
            <li><a href="{:url('applynotice')}"> 报名须知</a></li>
            <li class="current"><a href="{:url('aboutme')}">关于我们</a></li>
            <li><a href="{:url('joinme')}">加入我们</a></li>
        </ul>
    </div>
    <div class="rj"></div>
    <div class="phone">{$cf.phone}</div>
</div>
<div class="head_des">
    <!--关于我们-->
    <div class="baoxz">
        <div class="auto">
            <div style="height: 100px;width: 100%"></div>
            <div class="gj_z">
                <div class="gj_l"><img src="{$Think.config.u}/static/home/images/gl.png"></div>
                <div class="gj_h">关于我们</div>
                <div class="gj_r"><img src="{$Think.config.u}/static/home/images/gr.png"></div>
            </div>
            <div class="co-text ct">
                {$am.content}
            </div>
        </div>
    </div>
    <!--媒体报道-->
    <div class="auto">
        <div class="gj_z">
            <div class="gj_l"><img src="{$Think.config.u}/static/home/images/gl.png"></div>
            <div class="gj_h">媒体报道</div>
            <div class="gj_r"><img src="{$Think.config.u}/static/home/images/gr.png"></div>
        </div>
        <div style="height: 50px;width: 100%"></div>
        <div class="pjd">
            {volist name="ms" id="m"}
            <div class="pj_dd">
                <div class="pj_dt">
                    <a href="{$m.url}" target="_blank"><img src="{$m.img_s}"  onmouseover='src="{$m.img_h}"' onmouseout='src="{$m.img_s}"'></a>
                </div>
            </div>
            {/volist}
        </div>
    </div>
    <div style="clear: both;"></div>
    <div style="width: 100%;height: 50px"></div>
    <!--领导视察-->
    <div class="baoxz">
        <div class="auto">
            <div class="gj_z">
                <div class="gj_l"><img src="{$Think.config.u}/static/home/images/gl.png"></div>
                <div class="gj_h">领导视察</div>
                <div class="gj_r"><img src="{$Think.config.u}/static/home/images/gr.png"></div>
            </div>
            <div style="clear: both"></div>
            <div class="co-text ct" style="height: 1223px">
                <div class="ldl">
                    {volist name="ll" id="l"}
                    <div class="ldl_i"><img src="{$l.img}"></div>
                    <div class="ldl_t">{$l.des}</div>
                    {/volist}
                </div>
                <div class="ldr">
                    {volist name="lr" id="ls"}
                    <div class="ldr_i"><img src="{$ls.img}"></div>
                    <div style="clear: both"></div>
                    <div class="ldr_t">{$l.des}</div>
                    {/volist}
                </div>
            </div>
        </div>
    </div>
</div>
<div style="clear: both;"></div>
{include file="common/footer"}
</body>
<script>
    $('#btn1').click(function(){
        var data=$('#form2').serializeArray();
        var postData={};
        $(data).each(function(i){
            postData[this.name]=this.value;
        });
        var url="{:url('Index/postman')}";
        var jump="{:url('index')}";
        $.post(url,postData,function(res){
            if(res.status==1){
                layer.alert(res.message, {
                    skin: 'layui-layer-lan'
                    ,closeBtn: 0
                    ,anim: 4 //动画类型
                });
            }else if(res.status==0){
                layer.msg(res.message);
            }
        },'JSON');
    })
</script>
</html>