<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="keywords" content="{$cf.key}">
    <meta name="description" content="{$cf.des}" />
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/index.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/base.css">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/version.css">
    <title>{$cf.name}--报名流程</title>
</head>
<body>
<div class="header">
    <div class="logo"></div>
    <div class="nav">
        <ul>
            <li><a href="{:url('index')}">首页</a></li>
            <li><a href="{:url('yard')}">场地分布</a></li>
            <li class="current"><a href="{:url('applynotice')}"> 报名须知</a></li>
            <li><a href="{:url('aboutme')}">关于我们</a></li>
            <li><a href="{:url('joinme')}">加入我们</a></li>
        </ul>
    </div>
    <div class="rj"></div>
    <div class="phone">{$cf.phone}</div>
</div>
<div class="head_des">
    <!--报名条件-->
    <div class="baoxz">
        <div class="auto">
            <div style="height: 100px;width: 100%"></div>
            <div class="gj_z">
                <div class="gj_l"><img src="{$Think.config.u}/static/home/images/gl.png"></div>
                <div class="gj_h">报名条件</div>
                <div class="gj_r"><img src="{$Think.config.u}/static/home/images/gr.png"></div>
            </div>
            <div class="co-text">
                {$apply.b_content}
            </div>
        </div>
    </div>
    <!--学车流程-->
    <div class="xcstep">
        <div class="auto">
            <div class="gj_z">
                <div class="gj_l"><img src="{$Think.config.u}/static/home/images/gl.png"></div>
                <div class="gj_h">学车流程</div>
                <div class="gj_r"><img src="{$Think.config.u}/static/home/images/gr.png"></div>
            </div>
            <div class="xStep">
                <div class="xsli">
                    {volist name="f" id="fs"}
                    <div class="stp {if condition="$key eq 0"}cur{/if}">
                        <p>{$fs.name}</p>
                        <span>{$key+1}</span>
                        <i class="ico ico14"></i>
                    </div>
                    {/volist}
                </div>
            </div>
            <div class="xText">
                {volist name="f" id="fw"}
                <div class="lit" {if condition='$key eq 0'}style='display:block'{/if}>
                    {$fw.content}
                </div>
                {/volist}
            </div>
        </div>
    </div>
    <!--常见问题-->
    <div class="baoxz">
        <div class="auto">
            <div class="gj_z">
                <div class="gj_l"><img src="{$Think.config.u}/static/home/images/gl.png"></div>
                <div class="gj_h">常见问题</div>
                <div class="gj_r"><img src="{$Think.config.u}/static/home/images/gr.png"></div>
            </div>
            <div class="co-text">
                {$apply.c_content}
            </div>
        </div>
    </div>
</div>
{include file="common/footer"}
</body>
<script src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
<script>
    $(function(){
        var _s=$(".xStep"),
                _h=_s.find(".stp");
        _h.hover(function(){
            var _this=$(this),
                    _li=_h.index(this);
            _h.removeClass("cur");
            _this.addClass("cur");
            $(".lit").hide();
            $(".lit").eq(_li).show();
        })
    });
    $('#btn1').click(function(){
        var data=$('#form2').serializeArray();
        var postData={};
        $(data).each(function(i){
            postData[this.name]=this.value;
        });
        var url="{:url('Index/postman')}";
        var jump="{:url('index')}";
        $.post(url,postData,function(res){
            if(res.status==1){
                layer.alert(res.message, {
                    skin: 'layui-layer-lan'
                    ,closeBtn: 0
                    ,anim: 4 //动画类型
                });
            }else if(res.status==0){
                layer.msg(res.message);
            }
        },'JSON');
    })
</script>
</html>