<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="keywords" content="{$cf.key}">
    <meta name="description" content="{$cf.des}" />
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/index.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/base.css">
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=coutX13A0Ps5YoiMbpVWsCCjsWBHDoQ7"></script>
    <title>{$cf.name}</title>
</head>
<body>
  <div class="header">
      <div class="logo"></div>
      <div class="nav">
          <ul>
              <li class="current"><a href="{:url('index')}">首页</a></li>
              <li><a href="{:url('yard')}">场地分布</a></li>
              <li><a href="{:url('applynotice')}"> 报名须知</a></li>
              <li><a href="{:url('aboutme')}">关于我们</a></li>
              <li><a href="{:url('joinme')}">加入我们</a></li>
          </ul>
      </div>
      <div class="rj"></div>
      <div class="phone">{$cf.phone}</div>
  </div>

<div class="head_des">
    <img src="{$Think.config.u}/static/home/images/d.jpg">
    <div class="head_banner">
        <div class="hl"><form method="post" id="form1"><input id="phones" name="phone" type="text" placeholder="输入手机号，立即免费试学"><input type="button" value="立即咨询" id="btn" name=""></form></div>
        <img src="{$aderh.img}">
    </div>
    <div class="gj">
        <div class="gj_z">
            <div class="gj_l"><img src="{$Think.config.u}/static/home/images/gl.png"></div>
            <div class="gj_h">公司介绍</div>
            <div class="gj_r"><img src="{$Think.config.u}/static/home/images/gr.png"></div>
        </div>
        <div class="gc">
            <p>叮叮驾考创办于2015年5月，是一所由企业和校园加盟商合资开办的校园直营连锁驾校 <br/></p>
            <p>在成都已有数十个加盟校园团队，服务大学生学员超过5000人，首创考试挂科免补考费</p>
        </div>
        <div class="gb">
            <img src="{$Think.config.u}/static/home/images/gb.png">
        </div>
    </div>
    <!--三大保障-->
    <div class="bz">
        <div class="gj_z">
            <div class="gj_l"><img src="{$Think.config.u}/static/home/images/gl.png"></div>
            <div class="gj_h">三大保障</div>
            <div class="gj_r"><img src="{$Think.config.u}/static/home/images/gr.png"></div>
        </div>
        <div class="bz_r">
            <div class="bz_rc">
                <div class="bx-li">
                    <ul class="clearfix">
                        <li>
                            <p style="width: 50px;height: 50px;text-align: center;margin: 0 auto"><img src="{$Think.config.u}/images/ensure/5a5b5682d3df6.png"></p>
                            <p class="ti">学员评分制</p>
                            <p class="ci">学员毕业后可对教员打分</p>
                            <p class="ci">教员收入与评分挂钩</p>
                        </li>
                        <li>
                            <p style="width: 50px;height: 50px;text-align: center;margin: 0 auto"><img src="{$Think.config.u}/images/ensure/5a5b5aba7ff0c.png"></p>
                            <p class="ti">七天无条件退款</p>
                            <p class="ci">七天内任何不满意</p>
                            <p class="ci">无条件退款</p>
                        </li>
                        <li>
                            <p style="width: 50px;height: 50px;text-align: center;margin: 0 auto"><img src="{$Think.config.u}/images/ensure/5a5b5ae3caf58.png"></p>
                            <p class="ti">省创业中心孵化企业</p>
                            <p class="ci">省政府、教育厅、人社厅</p>
                            <p class="ci">等部门支持企业</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
    <!--七大优势-->
    <div class="auto">
        <div class="gj_z">
            <div class="gj_l"><img src="{$Think.config.u}/static/home/images/gl.png"></div>
            <div class="gj_h">七大优势</div>
            <div class="gj_r"><img src="{$Think.config.u}/static/home/images/gr.png"></div>
        </div>
        <div class="qs">
            <div class="qs_i"><img src="{$Think.config.u}/images/ensure/5a5b61e140516.png"></div>
            <div class="qs_w">
                <p class="qs_ws">首创报销补考费</p>
                <p class="qs_wc">成都首家免补考费的驾校</p>
                <p class="qs_wc">考个试内心毫无波动，甚至还有点想撩学车小天使！</p>
            </div>
        </div>
        <div class="qs">
            <div class="qs_w">
                <p class="qs_wsl">分期付款</p>
                <p class="qs_wcl">首付1800即可学车</p>
                <p class="qs_wcl">叮叮内部分期无利息，靠谱</p>
            </div>
            <div class="qs_i"><img src="{$Think.config.u}/images/ensure/5a5b620e9ba36.png"></div>
        </div>
        <div class="qs">
            <div class="qs_i"><img src="{$Think.config.u}/images/ensure/5a5b62363f590.png"></div>
            <div class="qs_w">
                <p class="qs_ws">学员福利黄卡</p>
                <p class="qs_wc">持黄卡到叮叮合作商家消费可获得专属优惠</p>
                <p class="qs_wc">要的就是特权！</p>
            </div>
        </div>
        <div class="qs">
            <div class="qs_w">
                <p class="qs_wsl">一站式接送服务</p>
                <p class="qs_wcl">体检、照相、练车、考试，一站式接送和陪同</p>
                <p class="qs_wcl">就是要做驾考界的海底捞</p>
            </div>
            <div class="qs_i"><img src="{$Think.config.u}/images/ensure/5a5b6250b2253.png"></div>
        </div>
        <div class="qs">
            <div class="qs_i"><img src="{$Think.config.u}/images/ensure/5a5b6269c81df.png"></div>
            <div class="qs_w">
                <p class="qs_ws">大学生专属</p>
                <p class="qs_wc">学员都是大学生，练车交友两不误</p>
                <p class="qs_wc">再也遇不到怪蜀黍怪阿姨啦！</p>
            </div>
        </div>
        <div class="qs">
            <div class="qs_w">
                <p class="qs_wsl">直营连锁驾校</p>
                <p class="qs_wcl">总部直营车辆和教练，标准教学，标准服务</p>
                <p class="qs_wcl">分分钟让你成车神</p>
            </div>
            <div class="qs_i"><img src="{$Think.config.u}/images/ensure/5a5b628a246f3.png"></div>
        </div>
        <div class="qs">
            <div class="qs_i"><img src="{$Think.config.u}/images/ensure/5a5b62aec0a0b.png"></div>
            <div class="qs_w">
                <p class="qs_ws">小天使服务</p>
                <p class="qs_wc">一对一学车小天使，学车问题1小时内处理</p>
                <p class="qs_wc">学车全程陪伴任你撩！</p>
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
    <!--学车班型-->
    <div class="auto">
        <div class="gj_z">
            <div class="gj_l"><img src="{$Think.config.u}/static/home/images/gl.png"></div>
            <div class="gj_h">学车班型</div>
            <div class="gj_r"><img src="{$Think.config.u}/static/home/images/gr.png"></div>
        </div>
        <div style="clear: both"></div>
        <div class="bs-li">
            <ul class="xc">
                {volist name="car" id="c"}
                <li class="bx{if condition='$key eq 0'}2{elseif condition='$key eq 1'}3{elseif  condition='$key eq 2'/}1{elseif  condition='$key eq 3'/}2{elseif  condition='$key eq 4'/}3{elseif  condition='$key eq 5'/}1{/if} swiper-slide">
                    <div class="c-hd">
                        <p class="ti"><img src="{$c.img}"></p>
                        <p class="ci">{$c.name}</p>
                        <p class="ct">{$c.des}</p>
                        <div class="jg">
                            <b>{$c.price}</b>
                        </div>

                    </div>
                    <div class="c-sh">
                        <p class="ti">{$c.name}</p>
                        <div class="ttx">
                            {$c.suggest}
                        </div>

                    </div>
                </li>
                {/volist}
            </ul>
        </div>
    </div>
    <!--学车场地-->
    <div class="auto">
        <div style="clear: both;"></div>
        <div class="gj_z">
            <div class="gj_l"><img src="{$Think.config.u}/static/home/images/gl.png"></div>
            <div class="gj_h">学车场地</div>
            <div class="gj_r"><img src="{$Think.config.u}/static/home/images/gr.png"></div>
        </div>
        <div style="clear: both"></div>
        <div class="cd">
        <div class="bb-li">
            <ul class="clearfix">
                <li>
                    <p class="ti">所在城市</p>
                    <div class="ci">成都</div>
                </li>
                <li>
                    <p class="ti">可选场地</p>
                    <p class="ci">120</p>
                </li>
                <li>
                    <p class="ti">覆盖区域</p>
                    <p class="ci">11</p>
                </li>
                <li>
                    <p class="ti">主城覆盖率</p>
                    <p class="ci">79<i>%</i></p>
                </li>
            </ul>
        </div>
        </div>
        <!--地图-->
        <div class="m_map" id="map"></div>
        <a href="{:url('yard')}"><div class="mapbtn">查看详情</div></a>
    </div>
    <div style="height: 60px;width: 100%"></div>
    <!--学员评价-->
    <div class="auto">
        <div class="gj_z">
            <div class="gj_l"><img src="{$Think.config.u}/static/home/images/gl.png"></div>
            <div class="gj_h">学员评价</div>
            <div class="gj_r"><img src="{$Think.config.u}/static/home/images/gr.png"></div>
        </div>
        <div style="height: 50px;width: 100%"></div>
        <div class="pj">

            <div class="pj_d">
                <div class="pj_d1">
                    <div class="pj_i"><img src="{$Think.config.u}/images/ader/5a5c26cff19e8.png"></div>
                    <div class="pj_t">
                        <p><span style="font-size: 24px;font-weight: bold">张华&nbsp</span>/四川大学锦江学院</p>
                        <span class="pj_sp">学车的过程是温暖有趣的，与两位罗教练从初识到结识从而成为朋友，对我来说，非常的幸运并且心怀感恩，无论是学车技巧上，还是生活中而言，亦是良师也是益友。在学车过程中，大家相处的氛围非常的轻松融洽，很开心融入这个大家庭，学车生涯告一段落啦，但我们友谊不散。</span>
                    </div>
                </div>
            </div>
            <div class="pj_d">
                <div class="pj_d1">
                    <div class="pj_i"><img src="{$Think.config.u}/images/ader/5a5c26fe217ef.png"></div>
                    <div class="pj_t">
                        <p><span style="font-size: 24px;font-weight: bold">刘钟林&nbsp</span>/四川托普信息技术职业学院</p>
                        <span class="pj_sp">我们场地有三个叮叮的师傅，其中一个李教是我觉得最好的教练，一个幽默的教练，对学员负责，而且也对学员很好，可以说是一个幽默的暖男吧，其他还有张教待我的次数不多，但也是很耐心指导的，另一个罗教很严格，一点失误都要挑出来，性格还是有点严肃的，但总体感觉还可以。</span>
                    </div>
                </div>
            </div>
            <div class="pj_d">
                <div class="pj_d1">
                    <div class="pj_i"><img src="{$Think.config.u}/images/ader/5a5c287c0eb65.png"></div>
                    <div class="pj_t">
                        <p><span style="font-size: 24px;font-weight: bold">张丽&nbsp</span>/四川大学锦江学院</p>
                        <span class="pj_sp">我是我们学车班拿证最快的，一个多月就搞定驾照，主要都是教练教的很好啦，同班的学友都觉得邹教练是个耐心的暖男，记得有个同学把教练车给碰坏了，他一点不生气反而还安慰学员，真的是为叮叮的教练打call~</span>
                    </div>
                </div>
            </div>
            <div class="pj_d">
                <div class="pj_d1">
                    <div class="pj_i"><img src="{$Think.config.u}/images/ader/5a5c28bda334c.png"></div>
                    <div class="pj_t">
                        <p><span style="font-size: 24px;font-weight: bold">冯春蓉&nbsp</span>/四川大学锦江学院</p>
                        <span class="pj_sp">接送很及时，我练车的时候是夏天，教练每天早上都会在后校门准时接我们，练完车又送我们回来，场地上偶尔会看到有其他驾校的师傅在骂人，但我们师傅从来不骂人，而且还会给你讲很多他的经历，教你一些生活哲学。</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="clear: both;"></div> 
    <!--媒体声音-->
    <div class="auto">
        <div class="gj_z">
            <div class="gj_l"><img src="{$Think.config.u}/static/home/images/gl.png"></div>
            <div class="gj_h">媒体声音</div>
            <div class="gj_r"><img src="{$Think.config.u}/static/home/images/gr.png"></div>
        </div>
        <div style="height: 50px;width: 100%"></div>
        <div class="pjd">
            {volist name="ms" id="m"}
            <div class="pj_dd">
                <div class="pj_dt">
                    <a href="{$m.url}" target="_blank"><img src="{$m.img_s}"  onmouseover='src="{$m.img_h}"' onmouseout='src="{$m.img_s}"'></a>
                </div>
            </div>
            {/volist}
        </div>
    </div>
    <div class="auto">
        <div class="foot-img"><img width="100%" height="100%" src="{$aderf.img}"></div>
    </div>
</div>
  {include file="common/footer"}
</body>
<script src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
<script src="__PUBLIC__/js/baiduMap.js"></script>
<script type="text/javascript" src="__PUBLIC__/layer/2.4/layer.js"></script>
<!--百度地图-->
<script type="text/javascript">
    function initMap(){
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        addMapOverlay();//向地图添加覆盖物
        for (var i = 0; i < markerArr.length; i++) {
            var p0 = markerArr[i].point.split(",")[0];
            var p1 = markerArr[i].point.split(",")[1];
            var maker = addMarker(new window.BMap.Point(p0, p1), i);
            addInfoWindow(maker, markerArr[i], i);
        }
    }
    var markerArr = {$point};
    function createMap(){
        map = new BMap.Map("map");
        map.centerAndZoom(new BMap.Point(104.084009,30.683551),12);
        for (var i = 0; i < markerArr.length; i++) {
            var p0 = markerArr[i].point.split(",")[0];
            var p1 = markerArr[i].point.split(",")[1];
            var maker = addMarker(new window.BMap.Point(p0, p1));
            addInfoWindow(maker, markerArr[i], i);
        }
    }
    function setMapEvent(){
        map.enableScrollWheelZoom();
        map.enableKeyboard();
        map.enableDragging();
        map.enableDoubleClickZoom()
    }
    function addClickHandler(target,window){
        target.addEventListener("click",function(){
            target.openInfoWindow(window);
        });
    }
    function addMapOverlay(){

    }
    //向地图添加控件
    function addMapControl(){
        var scaleControl = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
        scaleControl.setUnit(BMAP_UNIT_IMPERIAL);
        map.addControl(scaleControl);
        var navControl = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
        map.addControl(navControl);
        var overviewControl = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:false});
        map.addControl(overviewControl);
    }
    function addMarker(point) {
        var myIcon = new BMap.Icon("/cner/dc/driver/public/static/home/images/markers.png", new BMap.Size(23,30));
        var marker = new BMap.Marker(point,{icon:myIcon});
        map.addOverlay(marker);
        return marker;
    }

    // 添加信息窗口
    function addInfoWindow(marker, poi) {
        //pop弹窗标题
        var title = '<div style="font-weight:bold;color:#CE5521;font-size:14px">名称：' + poi.title + '</div>';
        //pop弹窗信息
        var html = [];
        html.push('<table cellspacing="0" style="table-layout:fixed;width:100%;font:12px arial,simsun,sans-serif"><tbody>');
        html.push('<tr>');
        html.push('<td style="vertical-align:top;line-height:16px;width:38px;white-space:nowrap;word-break:keep-all">地址:</td>');
        html.push('<td style="vertical-align:top;line-height:16px">' + poi.address + ' </td>');
        html.push('</tr>');
        html.push('</tbody></table>');
        var infoWindow = new BMap.InfoWindow(html.join(""), { title: title, width: 200 });

        var openInfoWinFun = function () {
            marker.openInfoWindow(infoWindow);
        };
        marker.addEventListener("mouseover", openInfoWinFun);
        return openInfoWinFun;
    }
    var map;
    initMap();
</script>
<script>
    $('#btn').click(function(){
        var data=$('#form1').serializeArray();
        var postData={};
        $(data).each(function(i){
            postData[this.name]=this.value;
        });
        var url="{:url('Index/postman')}";
        var jump="{:url('index')}";
        $.post(url,postData,function(res){
            if(res.status==1){
                layer.alert(res.message, {
                    skin: 'layui-layer-lan'
                    ,closeBtn: 0
                    ,anim: 4 //动画类型
                });
            }else if(res.status==0){
                layer.msg(res.message);
            }
        },'JSON');
    })
    $('#btn1').click(function(){
        var data=$('#form2').serializeArray();
        var postData={};
        $(data).each(function(i){
            postData[this.name]=this.value;
        });
        var url="{:url('Index/postman')}";
        var jump="{:url('index')}";
        $.post(url,postData,function(res){
            if(res.status==1){
                layer.alert(res.message, {
                    skin: 'layui-layer-lan'
                    ,closeBtn: 0
                    ,anim: 4 //动画类型
                });
            }else if(res.status==0){
                layer.msg(res.message);
            }
        },'JSON');
    })
</script>
</html>