<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/index.css"/>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=coutX13A0Ps5YoiMbpVWsCCjsWBHDoQ7"></script>
    <title>叮叮驾校</title>
</head>
<body>
  <div class="header">
      <div class="logo"></div>
      <div class="nav">
          <ul>
              <li class="current"><a href="{:url('index')}">首页</a></li>
              <li><a href="{:url('yard')}">场地分布</a></li>
              <li><a href="{:url('applynotice')}"> 报名须知</a></li>
              <li><a href="{:url('aboutme')}">关于我们</a></li>
              <li><a href="{:url('joinme')}">加入我们</a></li>
          </ul>
      </div>
      <div class="rj"></div>
      <div class="phone">400-188-3382</div>
  </div>

<div class="head_des">
    <img src="/cner/dc/driver/public/static/home/images/d.jpg">
    <div class="head_banner">
        <div class="hl"><input name="" type="text" placeholder="输入手机号，立即免费试学"><button type="button" id="" name="">立即咨询</button></div>
        <img src="{$aderh.img}">
    </div>
    <div class="gj">
        <div class="gj_z">
            <div class="gj_l"><img src="/cner/dc/driver/public/static/home/images/gl.png"></div>
            <div class="gj_h">公司介绍</div>
            <div class="gj_r"><img src="/cner/dc/driver/public/static/home/images/gr.png"></div>
        </div>
        <div class="gc">
            <p>叮叮驾考创办于2015年5月，是一所由企业和校园加盟商合资开办的校园直营连锁驾校 <br/></p>
            <p>在成都已有数十个加盟校园团队，服务大学生学员超过5000人，首创考试挂科免补考费</p>
        </div>
        <div class="gb">
            <img src="/cner/dc/driver/public/static/home/images/gb.png">
        </div>
    </div>
    <!--三大保障-->
    <div class="bz">
        <div class="gj_z">
            <div class="gj_l"><img src="/cner/dc/driver/public/static/home/images/gl.png"></div>
            <div class="gj_h">三大保障</div>
            <div class="gj_r"><img src="/cner/dc/driver/public/static/home/images/gr.png"></div>
        </div>
        <div class="bz_r">
            <div class="bz_rc">
                <div class="bx-li">
                    <ul class="clearfix">
                        {volist name="e" id="es"}
                        <li>
                            <p style="width: 50px;height: 50px;text-align: center;margin: 0 auto"><img src="{$es.img}"></p>
                            <p class="ti">{$es.title}</p>
                            {$es.content}
                        </li>
                        {/volist}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
    <!--七大优势-->
    <div class="auto">
        <div class="gj_z">
            <div class="gj_l"><img src="/cner/dc/driver/public/static/home/images/gl.png"></div>
            <div class="gj_h">七大优势</div>
            <div class="gj_r"><img src="/cner/dc/driver/public/static/home/images/gr.png"></div>
        </div>
        {volist name="g" id="gs"}
        {if condition="$key%2 neq 0"}
        <div class="qs">
            <div class="qs_w">
                <p class="qs_wsl">{$gs.title}</p>
                {$gs.content}
            </div>
            <div class="qs_i"><img src="{$gs.img}"></div>
        </div>
        {/if}
        {if condition="$key%2 eq 0"}
        <div class="qs">
            <div class="qs_i"><img src="{$gs.img}"></div>
            <div class="qs_w">
                <p class="qs_ws">{$gs.title}</p>
                {$gs.content}
            </div>
        </div>
        {/if}
        {/volist}
    </div>
    <div style="clear: both"></div>
    <!--学车班型-->
    <div class="auto">
        <div class="gj_z">
            <div class="gj_l"><img src="/cner/dc/driver/public/static/home/images/gl.png"></div>
            <div class="gj_h">学车班型</div>
            <div class="gj_r"><img src="/cner/dc/driver/public/static/home/images/gr.png"></div>
        </div>
        <div style="clear: both"></div>
        <div class="bs-li">
            <ul class="xc">
                {volist name="car" id="c"}
                <li class="bx{if condition='$key eq 0'}2{elseif condition='$key eq 1'}3{elseif  condition='$key eq 2'/}1{elseif  condition='$key eq 3'/}2{elseif  condition='$key eq 4'/}3{elseif  condition='$key eq 5'/}1{/if} swiper-slide">
                    <div class="c-hd">
                        <p class="ti"><img src="{$c.img}"></p>
                        <p class="ci">{$c.name}</p>
                        <p class="ct">{$c.des}</p>
                        <div class="jg">
                            <b>{$c.price}</b>
                        </div>

                    </div>
                    <div class="c-sh">
                        <p class="ti">{$c.name}</p>
                        <div class="ttx">
                            {$c.suggest}
                        </div>

                    </div>
                </li>
                {/volist}
            </ul>
        </div>
    </div>
    <!--学车场地-->
    <div class="auto">
        <div style="clear: both;"></div>
        <div class="gj_z">
            <div class="gj_l"><img src="/cner/dc/driver/public/static/home/images/gl.png"></div>
            <div class="gj_h">学车场地</div>
            <div class="gj_r"><img src="/cner/dc/driver/public/static/home/images/gr.png"></div>
        </div>
        <div style="clear: both"></div>
        <div class="cd">
        <div class="bb-li">
            <ul class="clearfix">
                <li>
                    <p class="ti">所在城市</p>
                    <div class="ci">成都</div>
                </li>
                <li>
                    <p class="ti">可选场地</p>
                    <p class="ci">120</p>
                </li>
                <li>
                    <p class="ti">覆盖区域</p>
                    <p class="ci">11</p>
                </li>
                <li>
                    <p class="ti">主城覆盖率</p>
                    <p class="ci">79<i>%</i></p>
                </li>
            </ul>
        </div>
        </div>
        <!--地图-->
        <div class="m_map" id="map"></div>
        <a href="{:url('yard')}"><div class="mapbtn">查看详情</div></a>
    </div>
    <div style="height: 60px;width: 100%"></div>
    <!--学员评价-->
    <div class="auto">
        <div class="gj_z">
            <div class="gj_l"><img src="/cner/dc/driver/public/static/home/images/gl.png"></div>
            <div class="gj_h">学员评价</div>
            <div class="gj_r"><img src="/cner/dc/driver/public/static/home/images/gr.png"></div>
        </div>
        <div style="height: 50px;width: 100%"></div>
        <div class="pj">
            {volist name="as" id="a"}
            <div class="pj_d">
                <div class="pj_d1">
                    <div class="pj_i"><img src="{$a.face}"></div>
                    <div class="pj_t">
                        <p><span style="font-size: 24px;font-weight: bold">{$a.name}&nbsp</span>/{$a.school}</p>
                        <span class="pj_sp">{$a.a_content}</span>
                    </div>
                </div>
            </div>
            {/volist}
        </div>
    </div>
    <!--媒体声音-->
    <div class="auto">
        <div class="gj_z">
            <div class="gj_l"><img src="/cner/dc/driver/public/static/home/images/gl.png"></div>
            <div class="gj_h">媒体声音</div>
            <div class="gj_r"><img src="/cner/dc/driver/public/static/home/images/gr.png"></div>
        </div>
        <div style="height: 50px;width: 100%"></div>
        <div class="pjd">
            {volist name="ms" id="m"}
            <div class="pj_dd">
                <div class="pj_dt">
                    <a href="{$m.url}" target="_blank"><img src="{$m.img_s}"  onmouseover='src="{$m.img_h}"' onmouseout='src="{$m.img_s}"'></a>
                </div>
            </div>
            {/volist}
        </div>
    </div>
    <div class="auto">
        <div class="foot-img"><img width="100%" height="100%" src="{$aderf.img}"></div>
    </div>
</div>
  {include file="common/footer"}
</body>
<script src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
<script src="__PUBLIC__/js/baiduMap.js"></script>
<!--百度地图-->
<script type="text/javascript">
    function initMap(){
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        addMapOverlay();//向地图添加覆盖物
        for (var i = 0; i < markerArr.length; i++) {
            var p0 = markerArr[i].point.split(",")[0];
            var p1 = markerArr[i].point.split(",")[1];
            var maker = addMarker(new window.BMap.Point(p0, p1), i);
            addInfoWindow(maker, markerArr[i], i);
        }
    }
    var markerArr = [
        { title: "名称：四川大学", point: "104.088119,30.637545", address: "四川省成都市武侯区一环路南一段24号 ", tel: "12306" },
        { title: "名称：成都理工大学", point: "104.15048,30.680737", address: "四川省成都市成华区三环以内二仙桥东三路1号  ", tel: "18500000000" },
        { title: "名称：成都师范学院", point: "103.835572,30.682091", address: "四川省成都市温江区海科路东段99号 ", tel: "18500000000" },
        { title: "名称：四川师范大学", point: "104.129339,30.615519", address: "四川省成都市锦江区静安路5号 ", tel: "18500000000" }
    ];
    function createMap(){
        map = new BMap.Map("map");
        map.centerAndZoom(new BMap.Point(104.084009,30.683551),12);
        for (var i = 0; i < markerArr.length; i++) {
            var p0 = markerArr[i].point.split(",")[0];
            var p1 = markerArr[i].point.split(",")[1];
            var maker = addMarker(new window.BMap.Point(p0, p1));
            addInfoWindow(maker, markerArr[i], i);
        }
    }
    function setMapEvent(){
        map.enableScrollWheelZoom();
        map.enableKeyboard();
        map.enableDragging();
        map.enableDoubleClickZoom()
    }
    function addClickHandler(target,window){
        target.addEventListener("click",function(){
            target.openInfoWindow(window);
        });
    }
    function addMapOverlay(){

    }
    //向地图添加控件
    function addMapControl(){
        var scaleControl = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
        scaleControl.setUnit(BMAP_UNIT_IMPERIAL);
        map.addControl(scaleControl);
        var navControl = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
        map.addControl(navControl);
        var overviewControl = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:false});
        map.addControl(overviewControl);
    }
    function addMarker(point) {
        var myIcon = new BMap.Icon("/cner/dc/driver/public/static/home/images/markers.png", new BMap.Size(23,30));
        var marker = new BMap.Marker(point,{icon:myIcon});
        map.addOverlay(marker);
        return marker;
    }

    // 添加信息窗口
    function addInfoWindow(marker, poi) {
        //pop弹窗标题
        var title = '<div style="font-weight:bold;color:#CE5521;font-size:14px">' + poi.title + '</div>';
        //pop弹窗信息
        var html = [];
        html.push('<table cellspacing="0" style="table-layout:fixed;width:100%;font:12px arial,simsun,sans-serif"><tbody>');
        html.push('<tr>');
        html.push('<td style="vertical-align:top;line-height:16px;width:38px;white-space:nowrap;word-break:keep-all">地址:</td>');
        html.push('<td style="vertical-align:top;line-height:16px">' + poi.address + ' </td>');
        html.push('</tr>');
        html.push('</tbody></table>');
        var infoWindow = new BMap.InfoWindow(html.join(""), { title: title, width: 200 });

        var openInfoWinFun = function () {
            marker.openInfoWindow(infoWindow);
        };
        marker.addEventListener("mouseover", openInfoWinFun);
        return openInfoWinFun;
    }
    var map;
    initMap();
</script>
</html>