<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/index.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/base.css">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/version.css">
    <title>叮叮驾校</title>
</head>
<body>
<div class="header">
    <div class="logo"></div>
    <div class="nav">
        <ul>
            <li><a href="{:url('index')}">首页</a></li>
            <li><a href="{:url('yard')}">场地分布</a></li>
            <li><a href="{:url('applynotice')}"> 报名须知</a></li>
            <li><a href="{:url('aboutme')}">关于我们</a></li>
            <li class="current"><a href="{:url('joinme')}">加入我们</a></li>
        </ul>
    </div>
    <div class="rj"></div>
    <div class="phone">400-188-3382</div>
</div>
<div class="head_des">
    <!--加入我们-->
    <div class="baoxz">
        <div class="auto">
            <div style="height: 100px;width: 100%"></div>
            <div class="gj_z">
                <div class="gj_l"><img src="/cner/dc/driver/public/static/home/images/gl.png"></div>
                <div class="gj_h">加入我们</div>
                <div class="gj_r"><img src="/cner/dc/driver/public/static/home/images/gr.png"></div>
            </div>
            <div class="co-text">
                <p class="f22 fb">资深文案策划</p>
                <p class="mt10">工作职责：</p>
                <p class="mt5">1、结合营销推广计划，深度挖掘产品亮点，撰写产品广告、创意文案；</p>
                <p class="mt5">2、负责公司的新媒体文案、物料文案、新闻稿件及各种品牌软文的撰写；</p>
                <p class="mt5">3、负责策划线上、线下品牌运营活动文案，如H5文案、视频脚本等；</p>
                <p class="mt10">岗位要求：</p>
                <p class="mt5">1、具有两年以上文案策划相关工作经验；</p>
                <p class="mt5">2、熟悉大学校园情况，思维年轻化，想法能与当代大学生需求融合；</p>
                <p class="mt5">3、具备优秀的文案功底，创造性思维能力、创意概念及良好的沟通能力；</p>
                <p class="mt5">4、具有敏锐的市场洞察力，具备较强的项目策划和活动执行能力；</p>
                <p class="mt5">5、具备良好的团队合作精神和创业精神，愿意加入创业公司；</p>
                <p class="mt10">工作待遇：</p>
                <p class="mt5">月薪：6-8k；有良好提升空间；</p>
                <p class="mt5">公司地址：成都市金牛区九里堤环交大创业谷4楼410室</p>
                <p mt5>简历及作品地址：xiaopeng@ddjiakao.com</p>


                <p class="f22 fb mt40">校园加盟商</p>
                <p class="mt10">叮叮驾考是专注大学生的连锁校园驾校，有近30个高校加盟团队；采取总部和校园加盟商合资成立自营驾校的模式，由总部负责硬件投资、品牌宣传、运营解决方案...加盟商负责市场、售后、品牌维护等，最终经营利润80%加盟商所得，加盟我们可以获得：</p>
                <p class="mt10 f18 fb">1. 赚钱，月入上万</p>
                <p class="mt10">经营得最好的加盟商，单月利润7万多（可实地考察）</p>
                <p class="mt10 f18 fb">2. 创业代替就业</p>
                <p class="mt10">为自己打工，给最有朝气的年纪一个机会</p>
                <p class="mt10 f18 fb">3. 资源变现</p>
                <p class="mt10">待了几年的大学，学生人脉、组织关系、地方商圈等资源丰富，你有的优势是我们没有的，何不合作共赢？</p>
                <p class="mt10 f18 fb">4. 总部指导</p>
                <p>总部5年校园驾校经营经验，手把手教你组建校园团队、地推网推、品牌活动策划、学员服务指导，教你公司化经营，再配合你的本土化优势，何惧市场竞争？</p>
                <p class="f18 fb mt10">5. 个人提升</p>
                <p class="mt10">除了你，还有数十个高校总经理也在经营叮叮驾考，每月大会共商经营策略，提升自我能力，扩展人脉</p>
                <p class="mt10">有意直接联系：18228164709 微信同号</p>

                <p class="f22 fb mt40">驾校教练</p>
                <p class="mt10">1.具有5年以上驾龄；</p>
                <p class="mt10">2.无不良嗜好，品行端正；</p>
                <p class="mt10">3.想从事驾校行业，具有服务意识，如做过专车司机；</p>
                <p class="mt10">待遇面谈，新手需进行为期1-2个月培训。</p>
                <p class="mt10">联系：18684028390</p>
            </div>
        </div>
    </div>
    <div class="jw">
        <p>工作时间：周一至周六      9:00-18:00</p>
        <p class="mt15">公司电话：400-188-3382</p>
        <p class="mt30">成都叮叮驾到科技有限公司</p>
        <p class="mt15">四川省成都市金牛区九里堤创新大厦4楼410室</p>
    </div>
</div>
<div class="footer">
    <div class="foi">
        <div class="foi_t">输入手机号，立即免费试学</div>
        <div class="foi_k">
            <div class="fl"><input name="" type="text" placeholder="输入手机号，立即免费试学"><button type="button" id="" name="">立即咨询</button></div>
        </div>
    </div>
    <div class="fa">
        <div class="cbLink">
            <ul class="clearfix">
                <li>
                    <p class="ti">报名须知</p>
                    <div class="ci">
                        <p><a href="">报名条件</a></p>
                        <p><a href="">学车流程</a></p>
                        <p><a href="">常见问题</a></p>
                    </div>
                </li>
                <li>
                    <p class="ti">关于我们</p>
                    <div class="ci">
                        <p><a href="">我们是谁</a></p>
                        <p><a href="">媒体报道</a></p>
                        <p><a href="">领导考察</a></p>
                    </div>
                </li>
                <li>
                    <p class="ti">加入我们</p>
                    <div class="ci">
                        <p><a href="">招聘动态</a></p>
                    </div>
                </li>
                <li>
                    <img src="/cner/dc/driver/public/static/home/images/gzh.png">
                </li>
                <li>
                    <img src="/cner/dc/driver/public/static/home/images/wx.png">
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>